# PyCitySchools

In [2]:
#Modules
import pandas as pd
import numpy as np

In [3]:
#Pull Data from CSV Files
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

#Read csv file
school_info = pd.read_csv(school_data)
student_info = pd.read_csv(student_data)

#Merge csv files
school_student_info = pd.merge(school_info, student_info, how= "left", on= ['school_name'])

school_student_info.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

# District Summary

In [4]:
#Total Schools
schools_array = school_student_info['school_name'].unique()
total_schools = len(schools_array)
total_schools

15

In [5]:
#Total Students
total_students = school_student_info['student_name'].count()
total_students

39170

In [6]:
#Total Budget
total_budget = school_info['budget'].sum()
total_budget

24649428

In [7]:
#Average Math Score
average_math_score = round(school_student_info['math_score'].mean(),2)
average_math_score

78.99

In [8]:
#Average Reading Score
average_reading_score = round(school_student_info['reading_score'].mean(),2)
average_reading_score

81.88

In [9]:
#% Passing Math (The percentage of students that passed math.)
passing_math = school_student_info.loc[school_student_info['math_score'] >= 70]['math_score'].count()
percent_math_pass = round(passing_math/total_students,2)
percent_math_pass

0.75

In [10]:
#% Passing Reading (The percentage of students that passed reading.)
passing_reading = school_student_info.loc[school_student_info['reading_score'] >= 70]['reading_score'].count()
percent_reading_pass = round(passing_reading/total_students,2)
percent_reading_pass

0.86

In [11]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_passing = round(school_student_info[(school_student_info['math_score'] >= 70) & (school_student_info['reading_score'] >= 70)]['student_name'].count()/total_students,2)
overall_passing

0.65

In [12]:
#Create a high level snapshot (in table form) of the district's key metrics
district_summary = pd.DataFrame ({ "Total Schools": [total_schools], "Total Students": [total_students], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "Overall Passing %": [overall_passing] })
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Passing %
0,15,39170,24649428,78.99,81.88,0.65

# School Summary

In [27]:
#School Name
by_school_name = school_student_info.set_index('school_name').groupby(['school_name'])
by_school_name

In [57]:
#School Type
school_type2 = school_info.set_index('school_name')['type']
school_type2

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [29]:
#Total Students
total_students2 = by_school_name['Student ID'].count()
total_students2

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [30]:
#Total School Budget
total_school_budget = school_info.set_index('school_name')['budget']
total_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [51]:
#Per Student Budget
student_budget = total_school_budget/school_info.set_index('school_name')['size']
student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [48]:
#Average Math Score
average_math_score = round(by_school_name['math_score'].mean(),2)
average_math_score

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [45]:
#Average Reading Score
average_reading_score = round(by_school_name['reading_score'].mean(),2)
average_reading_score

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [44]:
#% Passing Math (The percentage of students that passed math.)
percent_math_pass = round(school_student_info[school_student_info['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_students2,2)
percent_math_pass

school_name
Bailey High School       0.67
Cabrera High School      0.94
Figueroa High School     0.66
Ford High School         0.68
Griffin High School      0.93
Hernandez High School    0.67
Holden High School       0.93
Huang High School        0.66
Johnson High School      0.66
Pena High School         0.95
Rodriguez High School    0.66
Shelton High School      0.94
Thomas High School       0.93
Wilson High School       0.94
Wright High School       0.93
Name: Student ID, dtype: float64

In [43]:
#% Passing Reading (The percentage of students that passed reading.)
percent_reading_pass = round(school_student_info[school_student_info['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_students2,2)
percent_reading_pass

school_name
Bailey High School       0.82
Cabrera High School      0.97
Figueroa High School     0.81
Ford High School         0.79
Griffin High School      0.97
Hernandez High School    0.81
Holden High School       0.96
Huang High School        0.81
Johnson High School      0.81
Pena High School         0.96
Rodriguez High School    0.80
Shelton High School      0.96
Thomas High School       0.97
Wilson High School       0.97
Wright High School       0.97
Name: Student ID, dtype: float64

In [41]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_passing = round(school_student_info[(school_student_info['reading_score'] >= 70) & (school_student_info['math_score'] >= 70 )].groupby('school_name')['Student ID'].count()/total_students2,2)
overall_passing

school_name
Bailey High School       0.55
Cabrera High School      0.91
Figueroa High School     0.53
Ford High School         0.54
Griffin High School      0.91
Hernandez High School    0.54
Holden High School       0.89
Huang High School        0.54
Johnson High School      0.54
Pena High School         0.91
Rodriguez High School    0.53
Shelton High School      0.90
Thomas High School       0.91
Wilson High School       0.91
Wright High School       0.90
Name: Student ID, dtype: float64

In [60]:
#Create an overview table that summarizes key metrics about each school

school_summary = pd.DataFrame({"School Type": school_type2,"Total Students": total_students2, "Total Budget": total_school_budget , "Per Student Budget": student_budget , "Average Math Score": average_math_score, "Average Reading Score": average_reading_score, "% Passing Math": percent_math_pass, "% Passing Reading": percent_reading_pass, "Overall Passing Rate": overall_passing})

school_summary

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.05,81.03,0.67,0.82,0.55
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,0.94,0.97,0.91
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,0.66,0.81,0.53
Ford High School,District,2739,1763916,644.0,77.10,80.75,0.68,0.79,0.54
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,0.93,0.97,0.91
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,0.67,0.81,0.54
Holden High School,Charter,427,248087,581.0,83.80,83.81,0.93,0.96,0.89
Huang High School,District,2917,1910635,655.0,76.63,81.18,0.66,0.81,0.54
Johnson High School,District,4761,3094650,650.0,77.07,80.97,0.66,0.81,0.54
Pena High School,Charter,962,585858,609.0,83.84,84.04,0.95,0.96,0.91
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,0.66,0.80,0.53
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,0.94,0.96,0.90
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,0.93,0.97,0.91
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,0.94,0.97,0.91
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,0.93,0.97,0.90

# Top Performing Schools

In [26]:
#Top Performing Schools (By % Overall Passing)
#Create a table that highlights the top 5 performing schools based on % Overall Passing

top_schools = school_summary.sort_values("Overall Passing", ascending = false)
top_schools.head()

NameError: name 'school_summary' is not defined

# Bottom Performing Schools

In [ ]:
#Bottom Performing Schools (By % Overall Passing)
#Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above

bottom_schools = top_schools.tail()
bottom_schools = bottom_schools.sort_values('Overall Passing')

# Math Scores by Grade

In [ ]:
#Math Scores by Grade**
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Reading Scores by Grade

In [ ]:
#Reading Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# School Spending

In [ ]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending.

# Scores by School Size

In [ ]:
#Scores by School Size
#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

# Scores by School Type

In [ ]:
#Scores by School Type

#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

# Analysis

In [ ]:
#You must include a written description of at least two observable trends based on the data.