# PyCitySchools

In [3]:
#Modules
import pandas as pd
import numpy as np

In [4]:
#Pull Data from CSV Files
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

#Read csv file
school_info = pd.read_csv(school_data)
student_info = pd.read_csv(student_data)

#Merge csv files
school_student_info = pd.merge(school_info, student_info, how= "left", on= ['school_name'])

school_student_info.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

# District Summary

In [5]:
#Total Schools
schools_array = school_student_info['school_name'].unique()
total_schools = len(schools_array)
total_schools

15

In [6]:
#Total Students
total_students = school_student_info['student_name'].count()
total_students

39170

In [7]:
#Total Budget
total_budget = school_info['budget'].sum()
total_budget

24649428

In [8]:
#Average Math Score
average_math_score = round(school_student_info['math_score'].mean(),2)
average_math_score

78.99

In [9]:
#Average Reading Score
average_reading_score = round(school_student_info['reading_score'].mean(),2)
average_reading_score

81.88

In [10]:
#% Passing Math (The percentage of students that passed math.)
passing_math = school_student_info.loc[school_student_info['math_score'] >= 70]['math_score'].count()
percent_math_pass = round(passing_math/total_students,2)
percent_math_pass

0.75

In [11]:
#% Passing Reading (The percentage of students that passed reading.)
passing_reading = school_student_info.loc[school_student_info['reading_score'] >= 70]['reading_score'].count()
percent_reading_pass = round(passing_reading/total_students,2)
percent_reading_pass

0.86

In [12]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_passing = round(school_student_info[(school_student_info['math_score'] >= 70) & (school_student_info['reading_score'] >= 70)]['student_name'].count()/total_students,2)
overall_passing

0.65

In [13]:
#Create a high level snapshot (in table form) of the district's key metrics
district_summary = pd.DataFrame ({ "Total Schools": [total_schools], "Total Students": [total_students], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "Overall Passing %": [overall_passing] })
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Passing %
0,15,39170,24649428,78.99,81.88,0.65

# School Summary

In [14]:
#School Name
school_name = school_student_info.set_index('school_name').groupby(['school_name'])
school_name

In [15]:
#School Type
school_type2 = school_student_info.set_index('school_name')['type']
school_type2

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [16]:
#Total Students
total_students2 = school_name['Student ID'].count()
total_students2

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [17]:
#Total School Budget
total_school_budget = school_info.set_index('school_name')['budget']
total_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [18]:
#Per Student Budget
student_budget = total_school_budget/school_info.set_index('school_name')['size']
student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [19]:
#Average Math Score
average_math_score = school_name['math_score'].mean()
average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [20]:
#Average Reading Score
average_reading_score = school_name['reading_score'].mean()
average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [21]:
#% Passing Math (The percentage of students that passed math.)
percent_math_pass = school_student_info[school_student_info['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_students2
percent_math_pass

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: Student ID, dtype: float64

In [22]:
#% Passing Reading (The percentage of students that passed reading.)
percent_reading_pass = school_student_info[school_student_info['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_students2
percent_reading_pass

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: Student ID, dtype: float64

In [23]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_passing = school_student_info[(school_student_info['reading_score'] >= 70) & (school_student_info['math_score'] >= 70 )].groupby('school_name')['Student ID'].count()/total_students2
overall_passing

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
Name: Student ID, dtype: float64

In [28]:
#Create an overview table that summarizes key metrics about each school

school_summary = pd.DataFrame({ "School Type": school_type2,"Total Students": total_students2,
    "Total School Budget": total_school_budget,
    "Per Student Budget": student_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': percent_math_pass,
    '% Passing Reading': percent_reading_pass,
    "Overall Passing": overall_passing })

school_summary

ValueError: cannot reindex from a duplicate axis

# Top Performing Schools

In [26]:
#Top Performing Schools (By % Overall Passing)
#Create a table that highlights the top 5 performing schools based on % Overall Passing

top_schools = school_summary.sort_values("Overall Passing", ascending = false)
top_schools.head()

NameError: name 'school_summary' is not defined

# Bottom Performing Schools

In [ ]:
#Bottom Performing Schools (By % Overall Passing)
#Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above

bottom_schools = top_schools.tail()
bottom_schools = bottom_schools.sort_values('Overall Passing')

# Math Scores by Grade

In [ ]:
#Math Scores by Grade**
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Reading Scores by Grade

In [ ]:
#Reading Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# School Spending

In [ ]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending.

# Scores by School Size

In [ ]:
#Scores by School Size
#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

# Scores by School Type

In [ ]:
#Scores by School Type

#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

# Analysis

In [ ]:
#You must include a written description of at least two observable trends based on the data.