In [26]:
import pandas as pd
import numpy as np

In [28]:
#Pull Data from CSV Files
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

#Read csv file
school_info = pd.read_csv(school_data)
student_info = pd.read_csv(student_data)

#Merge csv files
school_student_info = pd.merge(school_info, student_info, how= "left", on= ['school_name'])

school_student_info.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [29]:
#Disctrict Summary
#Create a high level snapshot (in table form) of the district's key metrics
#Total Schools
#Total Students
#Total Budget
#Average Math Score
#Average Reading Score

In [31]:
Total_Schools = school_student_info['school_name'].value_counts()
Total_Schools

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [32]:
Total_Students = school_student_info['student_name'].count()
Total_Students

39170

In [37]:
Total_Budget = school_student_info['budget'].sum()
Total_Budget

82932329558

In [38]:
Average_math_score = school_student_info['math_score'].mean()
Average_math_score

78.98537145774827

In [35]:
Average_reading_score = school_student_info['reading_score'].mean()
Average_reading_score

81.87784018381414

In [43]:
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

Passing_math = school_student_info['math_score']/100
school_student_info["Passing_math"] = Passing_math

school_student_info.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Passing_math
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,0.79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,0.61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,0.60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,0.58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,0.84

In [11]:
#School Summary
#Create an overview table that summarizes key metrics about each school
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

In [ ]:
#Top Performing Schools (By % Overall Passing)
#Create a table that highlights the top 5 performing schools based on % Overall Passing

In [ ]:
#Bottom Performing Schools (By % Overall Passing)
#Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above

In [ ]:
#Math Scores by Grade**
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Reading Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending.

In [ ]:
#Scores by School Size

#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [ ]:
#Scores by School Type

#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

In [ ]:
#You must include a written description of at least two observable trends based on the data.