# PyCitySchools

In [35]:
#Modules
import pandas as pd
import numpy as np

In [36]:
#Pull Data from CSV Files
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

#Read csv file
school_info = pd.read_csv(school_data)
student_info = pd.read_csv(student_data)

#Merge csv files
school_student_info = pd.merge(school_info, student_info, how= "left", on= ['school_name'])

school_student_info.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

# District Summary

In [37]:
#Total Schools
schools_array = school_student_info['school_name'].unique()
total_schools = len(schools_array)
total_schools

15

In [38]:
#Total Students
total_students = school_student_info['student_name'].count()
total_students

39170

In [65]:
#Total Budget
total_budget = school_info['budget'].sum()
total_budget

24649428

In [62]:
#Average Math Score
average_math_score = round(school_student_info['math_score'].mean(),2)
average_math_score

78.99

In [56]:
#Average Reading Score
average_reading_score = round(school_student_info['reading_score'].mean(),2)
average_reading_score

81.88

In [57]:
#% Passing Math (The percentage of students that passed math.)
passing_math = school_student_info.loc[school_student_info['math_score'] >= 70]['math_score'].count()
percent_math_pass = round(passing_math/total_students,2)
percent_math_pass

0.75

In [58]:
#% Passing Reading (The percentage of students that passed reading.)
passing_reading = school_student_info.loc[school_student_info['reading_score'] >= 70]['reading_score'].count()
percent_reading_pass = round(passing_reading/total_students,2)
percent_reading_pass

0.86

In [68]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_passing = round(school_student_info[(school_student_info['math_score'] >= 70) & (school_student_info['reading_score'] >= 70)]['student_name'].count()/total_students,2)
overall_passing

0.65

In [70]:
#Create a high level snapshot (in table form) of the district's key metrics
district_summary = pd.DataFrame ({ "Total Schools": [total_schools], "Total Students": [total_students], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "Overall Passing %": [overall_passing] })
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Passing %
0,15,39170,24649428,78.99,81.88,0.65

# School Summary

In [ ]:
#School Name
school_name =

In [ ]:
#School Type
school_type =

In [ ]:
#Total Students
total_students =

In [ ]:
#Total School Budget
total_school_budget =

In [ ]:
#Per Student Budget
student_budget =

In [ ]:
#Average Math Score
average_math_score =

In [ ]:
#Average Reading Score
average_reading_score =

In [ ]:
#% Passing Math (The percentage of students that passed math.)
percent_math_pass =

In [ ]:
#% Passing Reading (The percentage of students that passed reading.)
percent_reading_pass =

In [ ]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_passing =

In [ ]:
#Create an overview table that summarizes key metrics about each school

School_summary = pd.DataFrame ({ "School Name": ['school_name'], "School Type": ['school_type'], "Total Students": ['total_students'],"Total School Budget": ['total_school_budget'],"Per Student Budget": ['student_budget'],"Average Math Score": ['average_math_score'], "Average Reading Score": ['average_reading_score'], "% Passing Math": ['percent_math_pass'], "% Passing Reading": ['percent_reading_pass'], "Overall Passing": ['overall_passing'] })
School_summary.head()

# Top Performing Schools

In [ ]:
#Top Performing Schools (By % Overall Passing)
#Create a table that highlights the top 5 performing schools based on % Overall Passing

# Bottom Performing Schools

In [ ]:
#Bottom Performing Schools (By % Overall Passing)
#Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above

# Math Scores by Grade

In [ ]:
#Math Scores by Grade**
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Reading Scores by Grade

In [ ]:
#Reading Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# School Spending

In [ ]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending.

# Scores by School Size

In [ ]:
#Scores by School Size
#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

# Scores by School Type

In [ ]:
#Scores by School Type

#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

# Analysis

In [ ]:
#You must include a written description of at least two observable trends based on the data.