# PyCitySchools

In [5]:
#Modules
import pandas as pd
import numpy as np

In [6]:
#Pull Data from CSV Files
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

#Read csv file
school_info = pd.read_csv(school_data)
student_info = pd.read_csv(student_data)

#Merge csv files
school_student_info = pd.merge(school_info, student_info, how= "left", on= ['school_name'])

school_student_info.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

# District Summary

In [7]:
#Total Schools
schools_array = school_student_info['school_name'].unique()
total_schools = len(schools_array)
total_schools

15

In [8]:
#Total Students
total_students = school_student_info['student_name'].count()
total_students

39170

In [9]:
#Total Budget
total_budget = school_info['budget'].sum()
total_budget

24649428

In [10]:
#Average Math Score
average_math_score = round(school_student_info['math_score'].mean(),2)
average_math_score

78.99

In [11]:
#Average Reading Score
average_reading_score = round(school_student_info['reading_score'].mean(),2)
average_reading_score

81.88

In [12]:
#% Passing Math (The percentage of students that passed math.)
passing_math = school_student_info.loc[school_student_info['math_score'] >= 70]['math_score'].count()
percent_math_pass = round(passing_math/total_students,2)
percent_math_pass

0.75

In [13]:
#% Passing Reading (The percentage of students that passed reading.)
passing_reading = school_student_info.loc[school_student_info['reading_score'] >= 70]['reading_score'].count()
percent_reading_pass = round(passing_reading/total_students,2)
percent_reading_pass

0.86

In [14]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_passing = round(school_student_info[(school_student_info['math_score'] >= 70) & (school_student_info['reading_score'] >= 70)]['student_name'].count()/total_students,2)
overall_passing

0.65

In [15]:
#Create a high level snapshot (in table form) of the district's key metrics
district_summary = pd.DataFrame ({ "Total Schools": [total_schools], "Total Students": [total_students], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "Overall Passing %": [overall_passing] })
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Passing %
0,15,39170,24649428,78.99,81.88,0.65

# School Summary

In [16]:
#School Name
by_school_name = school_student_info.set_index('school_name').groupby(['school_name'])
by_school_name

In [17]:
#School Type
school_type2 = school_info.set_index('school_name')['type']
school_type2

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [18]:
#Total Students
total_students2 = by_school_name['Student ID'].count()
total_students2

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [19]:
#Total School Budget
total_school_budget = school_info.set_index('school_name')['budget']
total_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [20]:
#Per Student Budget
student_budget = total_school_budget/school_info.set_index('school_name')['size']
student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [21]:
#Average Math Score
average_math_score = round(by_school_name['math_score'].mean(),2)
average_math_score

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [22]:
#Average Reading Score
average_reading_score = round(by_school_name['reading_score'].mean(),2)
average_reading_score

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [23]:
#% Passing Math (The percentage of students that passed math.)
percent_math_pass = round(school_student_info[school_student_info['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_students2,2)
percent_math_pass

school_name
Bailey High School       0.67
Cabrera High School      0.94
Figueroa High School     0.66
Ford High School         0.68
Griffin High School      0.93
Hernandez High School    0.67
Holden High School       0.93
Huang High School        0.66
Johnson High School      0.66
Pena High School         0.95
Rodriguez High School    0.66
Shelton High School      0.94
Thomas High School       0.93
Wilson High School       0.94
Wright High School       0.93
Name: Student ID, dtype: float64

In [24]:
#% Passing Reading (The percentage of students that passed reading.)
percent_reading_pass = round(school_student_info[school_student_info['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_students2,2)
percent_reading_pass

school_name
Bailey High School       0.82
Cabrera High School      0.97
Figueroa High School     0.81
Ford High School         0.79
Griffin High School      0.97
Hernandez High School    0.81
Holden High School       0.96
Huang High School        0.81
Johnson High School      0.81
Pena High School         0.96
Rodriguez High School    0.80
Shelton High School      0.96
Thomas High School       0.97
Wilson High School       0.97
Wright High School       0.97
Name: Student ID, dtype: float64

In [25]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_passing = round(school_student_info[(school_student_info['reading_score'] >= 70) & (school_student_info['math_score'] >= 70 )].groupby('school_name')['Student ID'].count()/total_students2,3)
overall_passing

school_name
Bailey High School       0.546
Cabrera High School      0.913
Figueroa High School     0.532
Ford High School         0.543
Griffin High School      0.906
Hernandez High School    0.535
Holden High School       0.892
Huang High School        0.535
Johnson High School      0.535
Pena High School         0.905
Rodriguez High School    0.530
Shelton High School      0.899
Thomas High School       0.909
Wilson High School       0.906
Wright High School       0.903
Name: Student ID, dtype: float64

In [26]:
#Create an overview table that summarizes key metrics about each school

school_summary = pd.DataFrame({"School Type": school_type2,"Total Students": total_students2, "Total Budget": total_school_budget , "Per Student Budget": student_budget , "Average Math Score": average_math_score, "Average Reading Score": average_reading_score, "% Passing Math": percent_math_pass, "% Passing Reading": percent_reading_pass, "Overall Passing Rate": overall_passing})

school_summary

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.05,81.03,0.67,0.82,0.546
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,0.94,0.97,0.913
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,0.66,0.81,0.532
Ford High School,District,2739,1763916,644.0,77.10,80.75,0.68,0.79,0.543
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,0.93,0.97,0.906
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,0.67,0.81,0.535
Holden High School,Charter,427,248087,581.0,83.80,83.81,0.93,0.96,0.892
Huang High School,District,2917,1910635,655.0,76.63,81.18,0.66,0.81,0.535
Johnson High School,District,4761,3094650,650.0,77.07,80.97,0.66,0.81,0.535
Pena High School,Charter,962,585858,609.0,83.84,84.04,0.95,0.96,0.905
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,0.66,0.80,0.530
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,0.94,0.96,0.899
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,0.93,0.97,0.909
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,0.94,0.97,0.906
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,0.93,0.97,0.903

# Top Performing Schools

In [27]:
#Top Performing Schools (By % Overall Passing)
#Create a table that highlights the top 5 performing schools based on % Overall Passing

top_schools = school_summary.sort_values("Overall Passing Rate", ascending = False)
top_schools.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,0.94,0.97,0.913
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,0.93,0.97,0.909
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,0.93,0.97,0.906
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,0.94,0.97,0.906
Pena High School,Charter,962,585858,609.0,83.84,84.04,0.95,0.96,0.905

# Bottom Performing Schools

In [28]:
#Bottom Performing Schools (By % Overall Passing)
#Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above

bottom_schools = top_schools.tail()
bottom_schools = bottom_schools.sort_values("Overall Passing Rate")
bottom_schools

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,0.66,0.80,0.530
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,0.66,0.81,0.532
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,0.67,0.81,0.535
Huang High School,District,2917,1910635,655.0,76.63,81.18,0.66,0.81,0.535
Johnson High School,District,4761,3094650,650.0,77.07,80.97,0.66,0.81,0.535

# Math Scores by Grade

In [29]:
#Math Scores by Grade**
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

math_nine = round(student_info.loc[student_info['grade'] == '9th'].groupby('school_name')['math_score'].mean(),2)
math_nine

school_name
Bailey High School       77.08
Cabrera High School      83.09
Figueroa High School     76.40
Ford High School         77.36
Griffin High School      82.04
Hernandez High School    77.44
Holden High School       83.79
Huang High School        77.03
Johnson High School      77.19
Pena High School         83.63
Rodriguez High School    76.86
Shelton High School      83.42
Thomas High School       83.59
Wilson High School       83.09
Wright High School       83.26
Name: math_score, dtype: float64

In [30]:
math_ten = round(student_info.loc[student_info['grade'] == '10th'].groupby('school_name')['math_score'].mean(),2)
math_ten

school_name
Bailey High School       77.00
Cabrera High School      83.15
Figueroa High School     76.54
Ford High School         77.67
Griffin High School      84.23
Hernandez High School    77.34
Holden High School       83.43
Huang High School        75.91
Johnson High School      76.69
Pena High School         83.37
Rodriguez High School    76.61
Shelton High School      82.92
Thomas High School       83.09
Wilson High School       83.72
Wright High School       84.01
Name: math_score, dtype: float64

In [31]:
math_eleven = round(student_info.loc[student_info['grade'] == '11th'].groupby('school_name')['math_score'].mean(),2)
math_eleven

school_name
Bailey High School       77.52
Cabrera High School      82.77
Figueroa High School     76.88
Ford High School         76.92
Griffin High School      83.84
Hernandez High School    77.14
Holden High School       85.00
Huang High School        76.45
Johnson High School      77.49
Pena High School         84.33
Rodriguez High School    76.40
Shelton High School      83.38
Thomas High School       83.50
Wilson High School       83.20
Wright High School       83.84
Name: math_score, dtype: float64

In [32]:
math_twelve = round(student_info.loc[student_info['grade'] == '12th'].groupby('school_name')['math_score'].mean(),2)
math_twelve

school_name
Bailey High School       76.49
Cabrera High School      83.28
Figueroa High School     77.15
Ford High School         76.18
Griffin High School      83.36
Hernandez High School    77.19
Holden High School       82.86
Huang High School        77.23
Johnson High School      76.86
Pena High School         84.12
Rodriguez High School    77.69
Shelton High School      83.78
Thomas High School       83.50
Wilson High School       83.04
Wright High School       83.64
Name: math_score, dtype: float64

In [33]:
mathscore_bygrade = round(pd.DataFrame({ "9th Grade": math_nine, "10th Grade": math_ten, "11th Grade": math_eleven, "12th Grade": math_twelve}),2)
mathscore_bygrade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School         77.08       77.00       77.52       76.49
Cabrera High School        83.09       83.15       82.77       83.28
Figueroa High School       76.40       76.54       76.88       77.15
Ford High School           77.36       77.67       76.92       76.18
Griffin High School        82.04       84.23       83.84       83.36
Hernandez High School      77.44       77.34       77.14       77.19
Holden High School         83.79       83.43       85.00       82.86
Huang High School          77.03       75.91       76.45       77.23
Johnson High School        77.19       76.69       77.49       76.86
Pena High School           83.63       83.37       84.33       84.12
Rodriguez High School      76.86       76.61       76.40       77.69
Shelton High School        83.42       82.92       83.38       83.78
Thomas High School         83.59       83.09       83.50       83.50
Wilson High School         83.09       83.72       83.20       83.04
Wright High School         83.26       84.01       83.84       83.64

# Reading Scores by Grade

In [34]:
#Reading Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
reading_nine = round(student_info.loc[student_info['grade'] == '9th'].groupby('school_name')['reading_score'].mean(),2)
reading_nine

school_name
Bailey High School       81.30
Cabrera High School      83.68
Figueroa High School     81.20
Ford High School         80.63
Griffin High School      83.37
Hernandez High School    80.87
Holden High School       83.68
Huang High School        81.29
Johnson High School      81.26
Pena High School         83.81
Rodriguez High School    80.99
Shelton High School      84.12
Thomas High School       83.73
Wilson High School       83.94
Wright High School       83.83
Name: reading_score, dtype: float64

In [35]:
reading_ten = round(student_info.loc[student_info['grade'] == '9th'].groupby('school_name')['reading_score'].mean(),2)
reading_ten

school_name
Bailey High School       81.30
Cabrera High School      83.68
Figueroa High School     81.20
Ford High School         80.63
Griffin High School      83.37
Hernandez High School    80.87
Holden High School       83.68
Huang High School        81.29
Johnson High School      81.26
Pena High School         83.81
Rodriguez High School    80.99
Shelton High School      84.12
Thomas High School       83.73
Wilson High School       83.94
Wright High School       83.83
Name: reading_score, dtype: float64

In [36]:
reading_eleven = round(student_info.loc[student_info['grade'] == '9th'].groupby('school_name')['reading_score'].mean(),2)
reading_eleven

school_name
Bailey High School       81.30
Cabrera High School      83.68
Figueroa High School     81.20
Ford High School         80.63
Griffin High School      83.37
Hernandez High School    80.87
Holden High School       83.68
Huang High School        81.29
Johnson High School      81.26
Pena High School         83.81
Rodriguez High School    80.99
Shelton High School      84.12
Thomas High School       83.73
Wilson High School       83.94
Wright High School       83.83
Name: reading_score, dtype: float64

In [37]:
reading_twelve = round(student_info.loc[student_info['grade'] == '9th'].groupby('school_name')['reading_score'].mean(),2)
reading_twelve

school_name
Bailey High School       81.30
Cabrera High School      83.68
Figueroa High School     81.20
Ford High School         80.63
Griffin High School      83.37
Hernandez High School    80.87
Holden High School       83.68
Huang High School        81.29
Johnson High School      81.26
Pena High School         83.81
Rodriguez High School    80.99
Shelton High School      84.12
Thomas High School       83.73
Wilson High School       83.94
Wright High School       83.83
Name: reading_score, dtype: float64

In [38]:
readingscore_bygrade = round(pd.DataFrame({ "9th Grade": reading_nine, "10th Grade": reading_ten, "11th Grade": reading_eleven, "12th Grade": reading_twelve}),2)
readingscore_bygrade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School         81.30       81.30       81.30       81.30
Cabrera High School        83.68       83.68       83.68       83.68
Figueroa High School       81.20       81.20       81.20       81.20
Ford High School           80.63       80.63       80.63       80.63
Griffin High School        83.37       83.37       83.37       83.37
Hernandez High School      80.87       80.87       80.87       80.87
Holden High School         83.68       83.68       83.68       83.68
Huang High School          81.29       81.29       81.29       81.29
Johnson High School        81.26       81.26       81.26       81.26
Pena High School           83.81       83.81       83.81       83.81
Rodriguez High School      80.99       80.99       80.99       80.99
Shelton High School        84.12       84.12       84.12       84.12
Thomas High School         83.73       83.73       83.73       83.73
Wilson High School         83.94       83.94       83.94       83.94
Wright High School         83.83       83.83       83.83       83.83

# Scores by School Spending

In [39]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending.

# Bins 

bins = [0, 585, 615, 645, 10000]
bin_names = ["less than 585", "585 to 615", "615 to 645", "more than 645"]

school_student_info['spend_bins'] = pd.cut(school_student_info['budget']/school_student_info['size'], bins, labels = bin_names)

In [45]:
#group by spending
by_schoolspending = school_student_info.groupby('spend_bins')
by_schoolspending

In [48]:
average_math = by_schoolspending['math_score'].mean()
average_math

spend_bins
less than 585    83.363065
585 to 615       83.529196
615 to 645       78.061635
more than 645    77.049297
Name: math_score, dtype: float64

In [50]:
average_reading = by_schoolspending['reading_score'].mean()
average_reading

spend_bins
less than 585    83.964039
585 to 615       83.838414
615 to 645       81.434088
more than 645    81.005604
Name: reading_score, dtype: float64

In [52]:
passing_math = school_student_info[school_student_info['math_score'] >= 70].groupby('spend_bins')['Student ID'].count()/by_schoolspending['Student ID'].count()
passing_math

spend_bins
less than 585    0.937029
585 to 615       0.941241
615 to 645       0.714004
more than 645    0.662308
Name: Student ID, dtype: float64

In [53]:
passing_reading = school_student_info[school_student_info['reading_score'] >= 70].groupby('spend_bins')['Student ID'].count()/by_schoolspending['Student ID'].count()
passing_reading

spend_bins
less than 585    0.966866
585 to 615       0.958869
615 to 645       0.836148
more than 645    0.811094
Name: Student ID, dtype: float64

In [55]:
overall = school_student_info[(school_student_info['math_score'] >= 70) & (school_student_info['reading_score'] >= 70)].groupby('spend_bins')['Student ID'].count()/by_schoolspending['Student ID'].count()
overall

# Scores by School Size

In [ ]:
#Scores by School Size
#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

# Scores by School Type

In [ ]:
#Scores by School Type

#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

# Analysis

In [ ]:
#You must include a written description of at least two observable trends based on the data.